 
	<h1><%= @page_header %></h1>
	
	

	<% @orders.each_with_index do |order,index| %>

		<h2> Order Number: <%= index+1 %> - <%= order[:title] %></h2>
		<p> Food Order: <%= order[:body] %></p>
		
		<br>
		<form action="http://localhost:9292/orders/<%=index%>" method="GET">
			<input type="hidden" name="_method" value="Order Page">
			<input type="submit" value="Order Page">
		</form>
		<form action="/orders/ <%= index %>/edit" method="GET">
			<input type="hidden" name="_method" value="Edit">
			<input type="submit" value="Edit">
		</form>

		<form action="/orders/<%=index%>" method="POST">
			<input type="hidden" name="_method" value="Delete">
			<input type="submit" value="Delete">
		</form>


	<% end %>


